<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="LogInForm.css">
</head>
<body>
    <div class="signup-container">
        <a href="/grihf-frontend_capstone_starter_code/Landing_Page/LandingPage.html"><image src="/grihf-frontend_capstone_starter_code/Navbar/Logo.svg"></a>
        <h1>Log In</h1>
        <p>Want to join Us? <a href="../SignUpForm/SignupForm.html">Sign Up</a></p>
        <form action="#" method="post">
            
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email">
            </div>

            <div class="form-group password-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password">
            </div>
            <div class="form-buttons">
                <button type="submit" class="submit-button">Submit</button>
                <button type="reset" class="reset-button">Reset</button>
            </div>
            <p>Password Forgotten?</p>
        </form>
    </div>
</body>
</html>